<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">

<!--    <div class="layui-form-item">-->
<!--        <label class="layui-form-label required">订单号</label>-->
<!--        <div class="layui-input-block">-->
<!--            <input type="text" name="id" disabled="disabled" th:value="${orderId}" class="layui-input">-->
<!--        </div>-->
<!--    </div>-->

    <div class="layui-form-item">
        <label class="layui-form-label">转出仓库</label>
        <div class="layui-input-inline">
            <input type="text" name="storeOutName" placeholder="请选择" autocomplete="off" class="layui-input" id="storeOut">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-inline">
            <input type="text" name="goodsName" placeholder="请选择" autocomplete="off" class="layui-input" id="goods">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">数量</label>
        <div class="layui-input-block">
            <input type="number" name="number" placeholder="请输入商品数量" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">转入仓库</label>
        <div class="layui-input-inline">
            <input type="text" name="storeInName" placeholder="请选择" autocomplete="off" class="layui-input" id="storeIn">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/lay-config.js?v=1.0.4}" charset="utf-8"></script>
<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            data = data.field;
            $.ajax({
                type: "POST",
                url: "/depot/addStoreOutIn",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(data),
                // data: data

                beforeSend: function () {
                    layer.msg("正在处理...")
                },
                success: function (data) {
                    if (data.code == 500) {
                        layer.msg(data.message);
                    } else {
                        layer.msg(data.message);

                        function send() {
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            window.parent.location.reload();
                            parent.layer.close(iframeIndex);
                        }

                        setTimeout(send, 1500);

                    }
                },
                error: function (data) {
                    layer.msg("添加失败！");
                }
            });
        });

    });

    layui.use(['table', 'form', 'tableSelect'], function () {
        var $ = layui.jquery,
            table = layui.table,
            form = layui.form,
            tableSelect = layui.tableSelect;

        tableSelect.render({
            elem: '#goods',
            searchKey: 'name',
            checkedKey: 'id',
            searchPlaceholder: '根据商品名搜索',
            table: {
                url: 'goodsInfo',
                cols: [
                    [
                        { type: 'radio' },
                        { field: 'id', title: 'ID', width: 100 },
                        { field: 'name', title: '商品名称', width: 300 },
                    ]
                ]
            },
            done: function (elem, data) {
                var NEWJSON = []
                layui.each(data.data, function (index, item) {
                    NEWJSON.push(item.id + "-" + item.name)
                })
                elem.val(NEWJSON.join(","))
            }
        })
        tableSelect.render({
            elem: '#storeOut',
            checkedKey: 'id',
            searchKey: 'name',
            table: {
                url: 'getStoreIdName',
                cols: [
                    [
                        { type: 'radio' },
                        { field: 'id', title: 'ID' },
                        { field: 'name', title: '仓库名称' },
                    ]
                ]
            },
            done: function (elem, data) {
                var NEWJSON = []
                layui.each(data.data, function (index, item) {
                    // NEWJSON.push(item.username)
                    // NEWJSON.push(item.id)
                    NEWJSON.push(item.id + "-" + item.name)
                })
                elem.val(NEWJSON.join(","))
            }
        })

        tableSelect.render({
            elem: '#storeIn',
            checkedKey: 'id',
            searchKey: 'name',
            table: {
                url: 'getStoreIdName',
                cols: [
                    [
                        { type: 'radio' },
                        { field: 'id', title: 'ID' },
                        { field: 'name', title: '仓库名称' },
                    ]
                ]
            },
            done: function (elem, data) {
                var NEWJSON = []
                layui.each(data.data, function (index, item) {
                    // NEWJSON.push(item.username)
                    // NEWJSON.push(item.id)
                    NEWJSON.push(item.id + "-" + item.name)
                })
                elem.val(NEWJSON.join(","))
            }
        })
    });
</script>
</body>
</html>